/* styles.css */
.content {
  background-color: #f5f5f5;
  text-align: center;
  border: #333 solid 1px;
  width: 80%;
}
.nav {
  width: 20%;
  border: #333 solid 1px;
}
.nav ul {
  list-style-type: none;
}
.nav a {
  color: #333;
  text-decoration: none;
}
.nav a.active {
  font-weight: bold;
  font-size: 23px;
}
